:root {
    --color-permission-level-administrator: #FF4A40;
    --color-permission-level-moderator: #FECF15;
    --color-permission-level-user: #DDDDDD;
    --color-permission-level-viewer: #b913fb;
}

img#logo {
    height: 100px;
    background-color: var(--color-lighter);
}

img#change-logo {
    position: absolute;
    bottom: 5px;
    right: 0;
    height: 30px;
    background-color: var(--color-simplychat);
}

div.relative {
    position: relative;
}

div.default-permission-level {
    background-color: var(--color-background);
    width: 200px;
    justify-content: space-between;
}
div.increase-decrease {
    gap: 2px !important; 
}
span.permission-level {
    font-size: 20px;
    margin-left: 5px;
}

div#users {
    max-height: 500px;
    overflow-y: scroll;
}
div#users::-webkit-scrollbar-track, div#users::-webkit-scrollbar, div#users::-webkit-scrollbar-thumb {
    display: none;
}

div.user {
    background-color: var(--color-background);
}

img.pfp {
    height: 25px;
}

span.username {
    font-size: 20px;
    width: 200px;
    overflow: hidden;
}

span.permission-level-administrator {
    color: var(--color-permission-level-administrator);
}
span.permission-level-moderator {
    color: var(--color-permission-level-moderator);
}
span.permission-level-user {
    color: var(--color-permission-level-user);
}
span.permission-level-viewer {
    color: var(--color-permission-level-viewer);
}

div.user-options {
    width: 85px;
}