:root {
    --sidebars-height: calc(100vh - 10px);
    --chat-topbar-width: calc(100vw - 534px - 24px - 10px);
    --marquee-big-width: calc(var(--chat-topbar-width) - 70px - 5px);
}

nav#navbar {
    padding: 15px 0 15px 20px;
    width: calc(100vw - 20px);
}

div#footer {
    padding-bottom: 20px;
    margin-top: 20px;
}
div#footer *:not(:first-child) {
    margin-left: 50px;
}

label {
    margin-right: 10px;
}

span.text {
    margin-top: 5px;
}

div.container:not(:first-child) {
    margin-top: 12px;
}
div.container span:not(:first-child) {
    margin-left: 7px;
}

div.panel {
    padding: 40px;
    margin-top: 25px;
}

img.chat-logo, img.pfp, img#chat-logo {
    margin-right: 5px;
}

div.chat, div.user, div#chats, div#users, div#chat-topbar {
    padding: 5px;
}
div.chat:not(:first-child) {
    margin-top: 5px;
}