:root {
    --sidebars-height: calc(100vh - 10px);
    --chat-topbar-width: calc(100vw - 277px*2 - 10px);
    --marquee-big-width: calc(var(--chat-topbar-width) - 70px - 5px);
    --messages-width: calc(100% - 10px);
    --message-max-width: calc(var(--chat-topbar-width) - 100px);
    --textarea-width: calc(var(--chat-topbar-width) - 200px);
    --chat-topbar-mobile-width: calc(100vw - 10px);
    --marquee-big-mobile-width: calc(var(--chat-topbar-mobile-width) - 70px - 5px);
    --message-mobile-max-width: calc(var(--chat-topbar-mobile-width) - 100px);
    --textarea-mobile-width: calc(var(--chat-topbar-mobile-width) - 200px);
}

nav#navbar {
    padding: 15px 0 15px 20px;
    width: calc(100vw - 20px);
}

div#footer {
    padding-bottom: 20px;
    margin-top: 20px;
}
div#footer *:not(:first-child) {
    margin-left: 50px;
}

label {
    margin-right: 10px;
}

span.text {
    margin-top: 5px;
}

div.container:not(:first-child) {
    margin-top: 12px;
}
div.container span:not(:first-child) {
    margin-left: 7px;
}

div.panel {
    padding: 40px;
    margin-top: 25px;
}

div.online, div.offline {
    right: 5px;
}

img.chat-logo, img.pfp, img#chat-logo {
    margin-right: 5px;
}

div.chat, div.user, div#chats, div#users, div#chat-topbar {
    padding: 5px;
}
div.chat:not(:first-child) {
    margin-top: 5px;
}

div#messages {
    padding: 5px;
}

div.message {
    margin-left: 5px;
}
div.message:not(:first-child) {
    margin-top: 5px;
}

div.message-data {
    margin-bottom: 5px;
}

img.message-button:not(:first-child) {
    margin-left: 5px;
}

span.message-text {
    padding: 5px;
}

div#textarea {
    margin: 5px 0;
}

textarea {
    padding: 5px;
}

div.textarea-extras {
    padding: 5px;
}

span.char-counter {
    margin-top: 5px;
}

div#emoji-selector {
    gap: 5px;
    padding: 5px;
}