:root {
    --sidebars-height: calc(100dvh - 4px);
    --chat-topbar-width: calc(100vw - 262px*2 - 4px);
    --marquee-big-width: calc(var(--chat-topbar-width) - 70px - 2px);
    --messages-width: calc(100% - 4px);
    --message-max-width: calc(var(--chat-topbar-width) - 50px);
    --textarea-width: calc(var(--chat-topbar-width) - 60px);
    --chat-topbar-mobile-width: calc(100vw - 4px);
    --marquee-big-mobile-width: calc(var(--chat-topbar-mobile-width) - 70px - 6px - 25px*2);
    --message-mobile-max-width: calc(var(--chat-topbar-mobile-width) - 50px);
    --textarea-mobile-width: calc(var(--chat-topbar-mobile-width) - 60px);
    --marquee-big-mobile-small-width: calc(var(--chat-topbar-mobile-width) - 50px - 6px - 25px*2);
}

nav#navbar {
    padding: 10px 0;
    width: 100vw;
}
div.navbar {
    padding: 10px;
}

div.bottom-margin {
    margin-bottom: 70px;
}

div#footer {
    padding-bottom: 10px;
    margin-top: 10px;
}
div#footer *:not(:first-child) {
    margin-left: 30px;
}

label {
    margin-right: 6px;
}

span.text {
    margin-top: 2px;
}

div.container:not(:first-child) {
    margin-top: 8px;
}
div.container span:not(:first-child) {
    margin-left: 4px;
}

div.panel {
    padding: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

div.read, div.unread, div.online, div.offline {
    right: 2px;
}

img.chat-logo, img.pfp, img#chat-logo {
    margin-right: 2px;
}

div.chat, div.user, div#chats, div#users, div#chat-topbar, div.dpl {
    padding: 2px;
}
div.chat:not(:first-child), div.user:not(:first-child) {
    margin-top: 2px;
}

div.chat-settings, div.user-settings, div.user-actions, span.user-last-online, span.user-status {
    margin-top: 1px !important;
}

button {
    padding: 2px 4px 2px 4px;
}
div.container > img.button:not(:first-child) {
    margin-left: 2px;
}
img#show-chats {
    margin-right: 2px;
}
div.box > img.button:not(:first-child) {
    margin-top: 2px;
}
button img.button {
    margin-left: 2px;
}

div#messages {
    padding: 2px;
}
div.message {
    margin-left: 2px;
}
div.message-metas {
    margin-left: 2px;
}
div.message:not(:first-child) {
    margin-top: 2px;
}
div.message-data {
    margin-bottom: 2px;
}
span.message-text {
    padding: 2px;
}
div.message-actions {
    margin-top: 2px !important;
}

div.load-more {
    margin-bottom: 2px;
}

div#unread-messages {
    width: calc(100% - 4px);
    height: 15px;
    margin: 0 2px 15px 2px;
}
div#unread-messages span {
    line-height: 30px;
    padding: 0 5px;
}

div#textarea {
    margin: 2px 0;
}

textarea {
    padding: 2px;
}

div.show-sidebars {
    margin-right: 2px;
}
div.textarea-extras {
    margin-left: 2px;
}

span.char-counter {
    margin-top: 2px;
}

div#emoji-selector {
    gap: 2px;
    padding: 2px;
}

div.user-options {
    margin-left: 2px;
}

img.status {
    margin-left: 20px;
}

canvas {
    padding: 2px;
}

div.panel.status {
    margin-top: 10px;
}

@media screen and (max-width: 850px) {
    div.panel {
        padding: 15px;
        margin-left: 2px;
        margin-right: 2px;
    }
}