:root {
    --color-permission-level-0: #FF4A40;
    --color-permission-level-1: #FECF15;
    --color-permission-level-2: #DDDDDD;
    --color-permission-level-3: #b913fb;
    --color-permission-level-removed: #666666;
}

div#loading {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-background);
    color: var(--color-foreground);
    align-items: center;
    justify-content: center;
}

div.chat-logo, div.pfp {
    display: flex;
    position: relative;
}

div.online, div.offline {
    position: absolute;
    bottom: 0;
    background-color: var(--color-success);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
div.online {
    background-color: var(--color-success);
}
div.offline {
    background-color: var(--color-error);
}

img.chat-logo, img.pfp {
    height: 50px;
    background-color: var(--color-lighter);
}
img#chat-logo {
    height: 70px;
    background-color: var(--color-lighter);
}

div.chat, div.user {
    background-color: var(--color-lighter);
}

div#chats {
    border-right: var(--color-lighter) 2px solid;
    height: var(--sidebars-height);
    overflow-y: scroll;
}
div#users {
    border-left: var(--color-lighter) 2px solid;
    height: var(--sidebars-height);
    overflow-y: scroll;
}
div#chats::-webkit-scrollbar-track, div#chats::-webkit-scrollbar, div#chats::-webkit-scrollbar-thumb,
div#users::-webkit-scrollbar-track, div#users::-webkit-scrollbar, div#users::-webkit-scrollbar-thumb {
    width: 0;
    height: 0;
}

span.user-last-online {
    font-size: 10px !important;
    max-width: 200px;
}
span.user-status {
    margin-left: 0 !important;
    font-size: 15px !important;
    max-width: 250px;
    word-wrap: break-word;
}

div#main {
    height: 100vh;
    justify-content: start;
}

div#messages {
    height: 100%;
    width: var(--messages-width);
    border-bottom: var(--color-lighter) 2px solid;
    overflow-y: scroll;
}
div#messages::-webkit-scrollbar-track, div#messages::-webkit-scrollbar, div#messages::-webkit-scrollbar-thumb {
    display: none;
}

div#chat-topbar {
    width: var(--chat-topbar-width);
    border-bottom: var(--color-lighter) 2px solid;
}

div.marquee {
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    align-items: start;
}
div.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
    margin-left: 0 !important;
}
@keyframes marquee {
    0% {transform: translate(0, 0);}
    40% {transform: translate(-200px, 0);}
    60% {transform: translate(-200px, 0);}
    100% {transform: translate(-100%, 0);}
}
div.marquee-big {
    width: var(--marquee-big-width);
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    align-items: start;
}
div.marquee-big span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee-big 10s linear infinite;
}
@keyframes marquee-big {
    0% {transform: translate(0, 0);}
    40% {transform: translate(calc(var(--marquee-big-width) * -1), 0);}
    60% {transform: translate(calc(var(--marquee-big-width) * -1), 0);}
    100% {transform: translate(-100%, 0);}
}

span.chat-name, span.username {
    font-size: 30px;
    line-height: 32px;
}
span.chat-description, span.status {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 2px;
}
span#chat-name {
    font-size: 35px;
    line-height: 37px;
}
span#chat-description {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 3px;
    margin-left: 0;
}

div.selected {
    background-color: var(--color-simplychat-dark);
}

span.permission-level-0 {
    color: var(--color-permission-level-0);
}
span.permission-level-1 {
    color: var(--color-permission-level-1);
}
span.permission-level-2 {
    color: var(--color-permission-level-2);
}
span.permission-level-3 {
    color: var(--color-permission-level-3);
}
span.permission-level-removed {
    color: var(--color-permission-level-removed);
}

textarea {
    width: var(--textarea-width);
    color: var(--color-foreground);
    background-color: var(--color-lighter);
    border: none;
    resize: none;
}
textarea:focus {
    outline: none;
}
textarea::-webkit-scrollbar-track, textarea::-webkit-scrollbar, textarea::-webkit-scrollbar-thumb {
    display: none;
}

div#textarea {
    position: relative;
}

span.char-counter, span.char-counter span {
    margin-left: 0 !important;
    font-size: 10px;
}

img.message-pfp {
    height: 30px;
    background-color: var(--color-lighter);
}

div.message {
    align-items: start;
}

span.message-username, span.message-text {
    font-size: 20px;
}
span.message-meta {
    font-size: 10px;
}
span.message-text {
    margin-left: 25px !important;
    background-color: var(--color-lighter);
    max-width: var(--message-max-width);
    word-wrap: break-word;
}
span.user-tag {
    margin-left: 0 !important;
}
div.message div.container {
    align-items: end;
}

div#emoji-selector {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    overflow-y: scroll;
    height: 300px;
    position: absolute;
    bottom: 80px;
    right: 0;
    background-color: var(--color-simplychat-dark);
}
div#emoji-selector::-webkit-scrollbar-track, div#emoji-selector::-webkit-scrollbar, div#emoji-selector::-webkit-scrollbar-thumb {
    display: none;
}

span.emoji {
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 0 !important;
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1200px) {
    div#chats, div#users {
        display: none;
    }
    div#chat-topbar {
        width: var(--chat-topbar-mobile-width);
    }
    div.marquee-big {
        width: var(--marquee-big-mobile-width);
    }
    @keyframes marquee-big {
        0% {transform: translate(0, 0);}
        40% {transform: translate(calc(var(--marquee-big-mobile-width) * -1), 0);}
        60% {transform: translate(calc(var(--marquee-big-mobile-width) * -1), 0);}
        100% {transform: translate(-100%, 0);}
    }
    div.message-data {
        flex-direction: column;
        align-items: start !important;
    }
    span.message-username, span.message-meta {
        margin-left: 0 !important;
    }
    span.message-text {
        max-width: var(--message-mobile-max-width);
    }
    textarea {
        width: var(--textarea-mobile-width);
    }
    @media screen and (max-width: 800px){
        div#emoji-selector {
            grid-template-columns: auto auto auto auto auto auto auto auto;
            height: 200px;
        }
    }
}