body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#navbar {
    position: absolute !important;
}

label {
    margin-right: 5px;
}

span.text {
    margin-top: 2px;
}

div.container:not(:first-child) {
    margin-top: 10px;
}