body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav#navbar {
    position: absolute !important;
    background-color: #00000000;
    justify-content: center;
    margin-top: 20px;
}

label {
    margin-right: 5px;
    line-height: 31px;
}

span.text {
    margin-top: 2px;
}

div.container:not(:first-child) {
    margin-top: 10px;
}