img#pfp {
    height: 100px;
    background-color: var(--color-lighter);
    margin-top: 10px;
    margin-bottom: 5px;
}

img#change-pfp {
    position: absolute;
    bottom: 5px;
    right: 0;
    height: 30px;
    background-color: var(--color-simplychat);
}

input#new-pfp {
    display: none;
}

div.relative {
    position: relative;
}

div.slider {
    display: flex;
    border: 2px solid var(--color-foreground);
    height: min-content;
    padding: 3px;
}
div.slider.off {
    padding-right: 15px;
    background-color: var(--color-background);
}
div.slider.on {
    padding-left: 15px;
    background-color: var(--color-simplychat);
}
div.slider div.slider-circle {
    background-color: var(--color-foreground);
    height: 15px;
    width: 15px;
}