button, input {
    border-radius: 0;
}

img#pfp, img.chat-logo {
    border-radius: 0;
}

img#change-pfp {
    border-radius: 0;
}

div.slider {
    border-radius: 0;
}
div.slider div.slider-circle {
    border-radius: 0;
}

div.chat {
    border-radius: 0px;
}