button, input {
    border-radius: 5px;
}

img#pfp, img.chat-logo, img.pfp, img#chat-logo {
    border-radius: 50%;
}

img#change-pfp {
    border-radius: 50%;
}

div.slider {
    border-radius: 15px;
}
div.slider div.slider-circle {
    border-radius: 50%;
}

div.chat, div.user {
    border-radius: 10px;
}