div.navbar {
    border-radius: 10px;
}

button, input {
    border-radius: 5px;
}

img.rounded {
    border-radius: 10%;
}
img#pfp, img#change-pfp, img.chat-logo, img.pfp, img#chat-logo, img#change-chat-logo {
    border-radius: 50%;
}

div.panel {
    border-radius: 30px;
}

div.slider {
    border-radius: 15px;
}
div.slider div.slider-circle {
    border-radius: 50%;
}

div.chat, div.user, div.dpl {
    border-radius: 10px;
}

textarea {
    border-radius: 5px;
}

img.message-pfp {
    border-radius: 50%;
}

span.message-text {
    border-radius: 10px;
}

div#emoji-selector {
    border-radius: 5px;
}

canvas {
    border-radius: 10px;
}