div.panel:not(:first-child) {
    margin-left: 0 !important;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

img.status {
    width: 30px;
}

canvas {
    background-color: var(--color-background);
    height: 200px;
}