h3 {
    margin-top: 0;
    margin-bottom: 0;
}

img.status {
    width: 30px;
}

canvas {
    background-color: var(--color-background);
}
div.chart {
    width: 400px;
    height: 200px;
}

@media screen and (max-width: 1100px) {
    div.chart {
        width: 300px;
        height: 150px;
    }
    @media screen and (max-width: 850px) {
        div.container.status {
            flex-direction: column;
        }
    }
}
@media screen and (min-width: 851px) {
    div.panel:not(:first-child) {
        margin-left: 0 !important;
    }
    div.panel:not(:last-child) {
        margin-right: 0 !important;
    }
}