:root {
    --color-background: #222222;
    --color-lighter: #333333;
    --color-foreground: #DDDDDD;
    --color-error: #FF6961;
    --color-success: #77DD77;
    --color-simplychat: #5B8899;
}

* {
    color: var(--color-foreground);
    font-size: 20px;
}

body {
    background-color: var(--color-background);
    height: 100vh;
    margin: 0;
}

h3 {
    font-size: 22px;
}

button, input {
    border: 2px solid var(--color-foreground);
    background-color: var(--color-background);
}
button {
    background-color: var(--color-simplychat);
}
input:focus {
    border-color: var(--color-simplychat);
    outline: none;
}
button:active {
    border-color: var(--color-simplychat);
    color: var(--color-simplychat);
    background-color: var(--color-foreground);
}
button:disabled {
    filter: brightness(70%);
}

span.text, span.text * {
    font-size: 16px;
}

a {
    color: var(--color-simplychat);
}

.error {
    color: var(--color-error);
}
.success {
    color: var(--color-success);
}

nav#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color-lighter);
    z-index: 100;
}

div#footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100vw;
}

img#logo {
    width: 60px;
}

div.box {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}
div.box.main {
    width: 100%;
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.margin-top {
    margin-top: 15px;
}