ol, span {
    max-width: 70vw;
}
li, span {
    text-align: justify;
    line-height: 28px;
}

@media screen and (max-width: 1000px) {
    div.panel span, div.panel li {
        font-size: 15px;
        line-height: 18px;
    }
}